@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&family=Noto+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  --color: #222222;
  --background-color: #dae0e6;
  --container-color: #ffffff;
  --line: #edeff1;
  --input-background-color: #f6f7f8;
  --input-border: #0079d3;
  --toggle-on: #0079d3;
  --toggle-off: #dae0e6;
  --icon-hover: rgba(26, 26, 27, 0.1);
  --faded-color: #878a8c;
}

.dark {
  --color: #d7dadc;
  --background-color: #030303;
  --container-color: #1a1a1b;
  --line: #343536;
  --input-background-color: #272729;
  --input-border: #d7dadc;
  --toggle-on: #0079d3;
  --toggle-off: rgba(215, 218, 220, 0.1);
  --icon-hover: rgba(215, 218, 220, 0.1);
  --faded-color: #818384;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  color: var(--color);
  background-color: var(--background-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  span,
  input {
    font-family: 'IBM Plex Sans', sans-serif;
  }

  p {
    font-family: 'Noto Sans', sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .toggle {
    background-color: var(--toggle-on);
    font-size: 30px;
    width: 34px;
    height: 23px;
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 4px;

    &:before {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      background-color: white;
      border-radius: 50%;
      transition: 0.4s;
    }

    &--off {
      background-color: var(--toggle-off);
      justify-content: flex-start;
    }
  }

  // .icon {
  //   fill: $color;
  // }
}
