$color: #222222;
$backgroundColor: #dae0e6;
$containerColor: #ffffff;
$line: #edeff1;
$inputBackgroundColor: #f6f7f8;
$inputBorder: #0079d3;
$iconHover: rgba(26, 26, 27, 0.1);
$fadedColor: #878a8c;

$darkColor: #222222;
$darkBackgroundColor: #dae0e6;
$darkContainerColor: #ffffff;
